version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.5.1
    steps:
      - checkout
      - run:
          name: Install ruby dependencies
          command: pwd

  deploy:
    docker:
      - image: circleci/ruby:2.5.1
    steps:
      - run:
          name: deploy
          command: |
            # ./node_modules/.bin/sls decrypt --stage $NODE_ENV --password $SECRETS_PASSWORD
            git remote add deploy-app dokku@54.177.34.184:deploy-app
      - run:
          name: deployfinal
          command: |
            git push deploy-app master
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - deploy:
          filters:
            branches:
              only: master
